<h3>Enter a New Data Set</h3>

<div class="error">
<%if !@errors.empty?%>
  <% @errors.each do |message| %>
  <p><%=message%></p>
  <%end%>
<%end%>
</div>

<form action="/" method="post">
  <div>
    <label for="json_data">Copy and paste your JSON data to search:</label><br>
    <textarea class="field span8" name="json_data" rows="12"></textarea>
  </div>
  <input type="submit" class="btn" value="Submit"/>
</form>

<p>No data set? <a href="/data">Try a sample search</a>.</p>
