<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datastroyer</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
  <!-- <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/data/new">New Data Set</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/data">View Data Set</a></li>
      <li><a href="/about">About</a></li>
    </ul>

  </nav> -->
  <div class="content-div">
    <%= yield %>
  </div>
  <footer>
    <p>By <a href="https://github.com/craigmcginley/">Craig McGinley</a> and <a href="https://github.com/dankleiman">Dan Kleiman</a> -- <a href="/about">About Datastroyer</a>
  </footer>
  </body>
</html>
