<h3>Find a Search Value in Your Data Set</h3>

<div class="error">
<%if !@errors.empty?%>
  <% @errors.each do |message| %>
  <p><%=message%></p>
  <%end%>
<%end%>
</div>
<div class="row">
<form action="/new" method="post">
    <div class="col-md-5">
      <label for="query">Enter a search value to find in the current data set: </label>
      <input type="text" name="query" id="query" class="input-bx"/>
    </div>
    <div class="col-md-5">
      <input type="button" class="btn" value="Search"/>
    </div>
</form>
</div>

