<h3>Path(s) to access "<%= @search_term %>":</h3>
<%if @results == []%>
  <p>We can't find your search term in this data structure.</p>
<%end%>

<% @results.each do |result| %>
  <%= result %><br/>
<%end%>

<p><a href="/data">Search Again</a></p>
