<h1>Current Data Structure</h1>

<p>The JSON object below is currently <a href="/search">searchable</a>. If you would like to search a new data structure, you can <a href="/data/new">enter it here</a>.</p>

<code><%= @json_data %></code>
